{
  "extends": "react-app",
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "cy": true,
    "__IN_SERVER__": true
  }
}
